/* Global background for ion-content */
ion-content {
  --background: linear-gradient(180deg, #020326, #353e4b);
  padding-bottom: 1rem;  /* Avoids content overlapping on smaller screens */
  padding-top: 0; /* Prevents space above the header */
}

/* Styling for ion-card with color and opacity */
ion-card {
  margin: 10px;
  text-align: center;
  background-color: rgba(43, 60, 71, 0.6); /* Set background color to #2F3B52 with 60% opacity */
  
  ion-card-title {
    font-size: 1.5em;
    color: #ffffff; /* Title color */
  }

  ion-card-content {
    font-size: 1.1em;
  }
}

/* Styling for ion-toolbar */
ion-toolbar {
  text-align: center;
  --background: linear-gradient(180deg, #020326,  #353e4b);
  color: #fff;
}

/* Color button change */
ion-button.start-playing {
  --background: #49659e;
  --color: #FFFFFF;
}

/* Styling for swiper-container */
swiper-container {
  width: 100%;
  height: 50vh; /* Set swiper height for better responsiveness */
}

/* Styling for swiper-slide */
swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.responsive-image {
  width: 100%;
  height: 70vh;
  object-fit: fill; /* Maintain aspect ratio while covering the container */
  border-radius: 8px; /* Rounded corners */
}

/* Responsive Design Considerations */
@media (max-width: 767px) {
  /* For mobile screens */
  ion-card {
    margin: 10px;
  }

  ion-card-title {
    font-size: 1.3em;
  }

  ion-card-content {
    font-size: 1em;
  }

  swiper-container {
    height: 40vh; /* Adjust swiper container height for smaller screens */
  }

  img {
    object-fit: cover;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* For tablets */
  ion-card {
    margin: 15px;
  }

  ion-card-title {
    font-size: 1.4em;
  }

  ion-card-content {
    font-size: 1.05em;
  }

  swiper-container {
    height: 45vh; /* Adjust swiper container height for tablets */
  }
}

@media (min-width: 1025px) {
  /* For desktop or larger screens */
  ion-card {
    margin: 20px;
  }

  ion-card-title {
    font-size: 1.6em;
  }

  ion-card-content {
    font-size: 1.1em;
  }

  swiper-container {
    height: 50vh;
  }
}
