ion-content {
  --background: linear-gradient(160deg, #f073df, #261f27);
  padding-bottom: 1rem;
  padding-top: 0;
}

ion-card {
  margin: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

ion-card-title {
  font-size: 1.5em;
  color: #ffffff;
}

ion-card-content {
  font-size: 1.1em;
  color: #ffffff;
}

ion-toolbar {
  text-align: center;
  --background: linear-gradient(180deg, #f073df, #261f27);
  color: #fff;
}

ion-button.start-playing {
  --background: #cc52b2;
  --color: #FFFFFF;
}

swiper-container {
  width: 100%;
  height: 50vh;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.responsive-image {
  width: 100%;
  height: 70vh;
  object-fit: fill;
  border-radius: 8px;
}

@media (max-width: 767px) {
  ion-card {
    margin: 10px;
  }

  ion-card-title {
    font-size: 1.3em;
  }

  ion-card-content {
    font-size: 1em;
  }

  swiper-container {
    height: 40vh;
  }

  img {
    object-fit: cover;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  ion-card {
    margin: 15px;
  }

  ion-card-title {
    font-size: 1.4em;
  }

  ion-card-content {
    font-size: 1.05em;
  }

  swiper-container {
    height: 45vh;
  }
}

@media (min-width: 1025px) {
  ion-card {
    margin: 20px;
  }

  ion-card-title {
    font-size: 1.6em;
  }

  ion-card-content {
    font-size: 1.1em;
  }

  swiper-container {
    height: 50vh;
  }
}
