<div class="loading-container">
  <img src="assets/icon/kirbys.gif" alt="Pikachu" class="pikachu" [style.left.%]="pikaPosition" />
  <div class="progress-bar">
    <div class="progress" [style.width.%]="progress"></div>
  </div>
  <img src="assets/icon/falling.gif" alt="Falling GIF" class="falling-gif falling-gif-1" />
  <img src="assets/icon/falling.gif" alt="Falling GIF" class="falling-gif falling-gif-2" />
  <img src="assets/icon/falling.gif" alt="Falling GIF" class="falling-gif falling-gif-3" />
  <img src="assets/icon/falling.gif" alt="Falling GIF" class="falling-gif falling-gif-4" />
</div>
