.screenshots {
    display: flex;
    flex-direction: column; /* Stack images vertically */
    align-items: center;
    gap: 1rem; /* Add space between images */
    margin-top: 1rem;
  }
  
  .screenshot-image {
    width: 80%; /* Adjust width to fit mobile view */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  ion-toolbar {
    --ion-toolbar-background: linear-gradient(180deg, #2196F3, #21CBF3);
    --ion-toolbar-color: white;
  }
  ion-icon{
    height: 40px;
    width: 40px;
    margin-right: 15px;
  }