ion-toolbar {
  text-align: center;
  --ion-toolbar-background: linear-gradient(180deg, #f073df, #261f27);
  --ion-toolbar-color: #F7D6D0;
}

ion-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #FFFFFF;
}

.search-container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 10px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, border-color 0.3s;
}

.search-input:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2),
              0 4px 10px rgba(255, 255, 255, 0.3);
  border-color: rgba(240, 115, 223, 0.7);
}

.clear-icon {
  cursor: pointer;
}

.search-button {
  color: #f073df;
  --background: transparent;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  transition: color 0.3s, background 0.3s, box-shadow 0.3s;
}

.search-button:hover {
  color: #d665c7;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

.game-card {
  margin: 10px 0;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 2px solid #d74b8a;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

ion-card-header {
  background-color: #f073df;
  padding: 10px;
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

ion-card-subtitle {
  font-size: 14px;
  color: #ffffff;
}

ion-card-content {
  font-size: 14px;
  color: #000000;
  padding: 10px;
}

ion-img {
  height: 200px;
  object-fit: cover;
}

.center-content {
  text-align: center;
  padding: 20px;
}

.loading-text {
  font-size: 18px;
  font-weight: bold;
  color: #d74b8a;
}

.error-message {
  color: #821D30;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  background-color: #FFC5D0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message ion-icon {
  margin-right: 10px;
}

.pagination-controls {
  padding: 20px;
  text-align: center;
}

.pagination-controls ion-button {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 30px;
  margin: 5px;
  color: #FB6090;
  font-weight: bold;
  transition: color 0.3s;
}

.pagination-controls ion-button:hover {
  color: #821D30;
}

.pagination-controls ion-button[disabled] {
  color: #F7D6D0;
}
